@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
  background: rgb(8, 8, 8);
  

}
.icon-style {
  -webkit-background-clip: text;
  background-clip: text;
  
  transition: all 0.3s ease;
  margin-right: 8px;
}

/* Adding hover effect */
.icon-style:hover {
  transform: scale(1.2);
  color: #ffffff;
   /* Slight zoom and rotate on hover */
}

.nav-default {
  margin-top: 2rem;
  transition: all 0.8s ease-out;
  border-radius: 130px;
}

.nav-default:hover {
  margin-top: 2rem;
  transition: all 0.8s ease-out;
  border-radius: 130px;
  scale: 1.1;
  padding-left: 2rem;
}

.rotate {

}

